## Assignment Day 10
#### Exercises: Level 1

In [2]:
for i in range (11):
    print(i)
    i = 0

while i <= 10:
    print(i)
    i = i+1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [4]:
for i in range(10, -1, -1):
    print(i)
    i=1

while i >=0:
    print(i)
    i= i-1

10
9
8
7
6
5
4
3
2
1
0
1
0

In [6]:
for i in range(1, 8):
    for j in range(1, i + 1):
        print('#', end='')
    print()

for i in range (8):
    for j in range (8):
        print('#', end=' ')
    print()

#
##
###
####
#####
######
#######
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [12]:
for i in range(11):
    number = i * i
    print(f'{i} * {i}={number}')

0 * 0=0
1 * 1=1
2 * 2=4
3 * 3=9
4 * 4=16
5 * 5=25
6 * 6=36
7 * 7=49
8 * 8=64
9 * 9=81
10 * 10=100

In [13]:
lists = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']
for i in lists:
    print(i)

Python
Numpy
Pandas
Django
Flask

In [14]:
for i in range(101):
    if i % 2 ==0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [16]:
for i in range (101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [15]:
for i in range (101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

#### Excercises Level 2

In [17]:
sum_total = 0 
for i in range(101):
    sum_total+= i
    print('Sum of all numbers from 0 to 100 is:', sum_total)

Sum of all numbers from 0 to 100 is: 0
Sum of all numbers from 0 to 100 is: 1
Sum of all numbers from 0 to 100 is: 3
Sum of all numbers from 0 to 100 is: 6
Sum of all numbers from 0 to 100 is: 10
Sum of all numbers from 0 to 100 is: 15
Sum of all numbers from 0 to 100 is: 21
Sum of all numbers from 0 to 100 is: 28
Sum of all numbers from 0 to 100 is: 36
Sum of all numbers from 0 to 100 is: 45
Sum of all numbers from 0 to 100 is: 55
Sum of all numbers from 0 to 100 is: 66
Sum of all numbers from 0 to 100 is: 78
Sum of all numbers from 0 to 100 is: 91
Sum of all numbers from 0 to 100 is: 105
Sum of all numbers from 0 to 100 is: 120
Sum of all numbers from 0 to 100 is: 136
Sum of all numbers from 0 to 100 is: 153
Sum of all numbers from 0 to 100 is: 171
Sum of all numbers from 0 to 100 is: 190
Sum of all numbers from 0 to 100 is: 210
Sum of all numbers from 0 to 100 is: 231
Sum of all numbers from 0 to 100 is: 253
Sum of all numbers from 0 to 100 is: 276
Sum of all numbers from 0 to 100 is: 300
Sum of all numbers from 0 to 100 is: 325
Sum of all numbers from 0 to 100 is: 351
Sum of all numbers from 0 to 100 is: 378
Sum of all numbers from 0 to 100 is: 406
Sum of all numbers from 0 to 100 is: 435
Sum of all numbers from 0 to 100 is: 465
Sum of all numbers from 0 to 100 is: 496
Sum of all numbers from 0 to 100 is: 528
Sum of all numbers from 0 to 100 is: 561
Sum of all numbers from 0 to 100 is: 595
Sum of all numbers from 0 to 100 is: 630
Sum of all numbers from 0 to 100 is: 666
Sum of all numbers from 0 to 100 is: 703
Sum of all numbers from 0 to 100 is: 741
Sum of all numbers from 0 to 100 is: 780
Sum of all numbers from 0 to 100 is: 820
Sum of all numbers from 0 to 100 is: 861
Sum of all numbers from 0 to 100 is: 903
Sum of all numbers from 0 to 100 is: 946
Sum of all numbers from 0 to 100 is: 990
Sum of all numbers from 0 to 100 is: 1035
Sum of all numbers from 0 to 100 is: 1081
Sum of all numbers from 0 to 100 is: 1128
Sum of all numbers from 0 to 100 is: 1176
Sum of all numbers from 0 to 100 is: 1225
Sum of all numbers from 0 to 100 is: 1275
Sum of all numbers from 0 to 100 is: 1326
Sum of all numbers from 0 to 100 is: 1378
Sum of all numbers from 0 to 100 is: 1431
Sum of all numbers from 0 to 100 is: 1485
Sum of all numbers from 0 to 100 is: 1540
Sum of all numbers from 0 to 100 is: 1596
Sum of all numbers from 0 to 100 is: 1653
Sum of all numbers from 0 to 100 is: 1711
Sum of all numbers from 0 to 100 is: 1770
Sum of all numbers from 0 to 100 is: 1830
Sum of all numbers from 0 to 100 is: 1891
Sum of all numbers from 0 to 100 is: 1953
Sum of all numbers from 0 to 100 is: 2016
Sum of all numbers from 0 to 100 is: 2080
Sum of all numbers from 0 to 100 is: 2145
Sum of all numbers from 0 to 100 is: 2211
Sum of all numbers from 0 to 100 is: 2278
Sum of all numbers from 0 to 100 is: 2346
Sum of all numbers from 0 to 100 is: 2415
Sum of all numbers from 0 to 100 is: 2485
Sum of all numbers from 0 to 100 is: 2556
Sum of all numbers from 0 to 100 is: 2628
Sum of all numbers from 0 to 100 is: 2701
Sum of all numbers from 0 to 100 is: 2775
Sum of all numbers from 0 to 100 is: 2850
Sum of all numbers from 0 to 100 is: 2926
Sum of all numbers from 0 to 100 is: 3003
Sum of all numbers from 0 to 100 is: 3081
Sum of all numbers from 0 to 100 is: 3160
Sum of all numbers from 0 to 100 is: 3240
Sum of all numbers from 0 to 100 is: 3321
Sum of all numbers from 0 to 100 is: 3403
Sum of all numbers from 0 to 100 is: 3486
Sum of all numbers from 0 to 100 is: 3570
Sum of all numbers from 0 to 100 is: 3655
Sum of all numbers from 0 to 100 is: 3741
Sum of all numbers from 0 to 100 is: 3828
Sum of all numbers from 0 to 100 is: 3916
Sum of all numbers from 0 to 100 is: 4005
Sum of all numbers from 0 to 100 is: 4095
Sum of all numbers from 0 to 100 is: 4186
Sum of all numbers from 0 to 100 is: 4278
Sum of all numbers from 0 to 100 is: 4371
Sum of all numbers from 0 to 100 is: 4465
Sum of all numbers from 0 to 100 is: 4560
Sum of all numbers from 0 to 100 is: 4656
Sum of all numbers from 0 to 100 is: 4753
Sum of all numbers from 0 to 100 is: 4851
Sum of all numbers from 0 to 100 is: 4950
Sum of all numbers from 0 to 100 is: 5050

In [18]:
sum_of_even = 0
sum_of_odd = 0
for i in range(101):
    if i % 2 ==0:
        sum_of_even += i
    else:
        sum_of_odd += i
print('sum of even numbers:', sum_of_even)
print('sum of odd numbers:', sum_of_odd)

sum of even numbers: 2550
sum of odd numbers: 2500

#### Exercises: Level 3

In [ ]:
countries = [ 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombi', 'Comoros', 'Congo (Brazzaville)', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'East Timor (Timor Timur)', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',  'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Greece',  'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau',  'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',  'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Korea, North', 'Korea, South', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia','Lebanon', 'Lesotho','Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia',  'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania',  'Mauritius', 'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar',  'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent', 'Samoa', 'San Marino', 'Sao Tome and Principe','Saudi Arabia', 'Senegal', 'Serbia and Montenegro', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia','Solomon Islands', 'Somalia', 'South Africa', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',  'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican City', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe',]
countries_with_land = []
for country in countries:
    if 'land' in country.lower():
        countries_with_land.append(country)
print('countries containing 'land':')
for country in countries_with_land:
    print(country)

In [19]:
fruits = ['Banana', 'Orange', 'Mango', 'Lemon']
reversed_order= []
for fruit in reversed(fruits):
    reversed_order.append(fruit)
print('fruits in reversed order:', reversed_order)

fruits in reversed order: ['Lemon', 'Mango', 'Orange', 'Banana']